* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: BBHHegarty;
    src: url(../font/BBHHegarty-Regular.ttf);
}

body {
    background: rgb(0, 2, 0);
    color: azure;
}
section {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    position: relative;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1000;
}

nav {
    background: none;
    width: 100%;
    height: 70px;
}

nav ul {
    list-style: none; /* прибирає маркер списку*/
}

header.Logo {
    font-family: BBHHegarty;
    display: flex;
    text-transform: uppercase;
}

.Logo {
    display: flex;
    position: fixed;
    top: 0px;
    padding-left: 25px;
    padding-top: 40px;
    font-size: 25px;
    font-weight: bold;
}

header nav {
    position: fixed;
    top: 0px;
    right: 25%;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 30px;
}

header nav ul li a {
    color: azure;
    font-size: 20px;
    display: block;
    position: relative;
    text-align: center;
    padding-top: 11px;
    background: 0;
    border-radius: 30px 30px;
    width: 180px;
    height: 50px;
    font-family: BBHHegarty;
    z-index: 10;
    border: none;
    transition: all 1000ms ease;
}

header nav ul li a:hover {
    background: rgb(0, 80, 0);
    transition: all 500ms ease;
    box-shadow: 0 0 30px 15px rgb(0, 80, 0);
}

.fa-house, .fa-id-badge, .fa-image, .fa-calendar{   /*значки біля навігації*/
    margin-left: 7px;
}

.schdle {
    width: 200px;
}

.glr {
    width: 150px;
}

.abt-me {
    width: 170px;
}

#red li a {
    transition: all 1000ms ease;
}

#red li a:hover {
    background: brown;
    transition: all 500ms ease;
    box-shadow: 0 0 30px 15px brown;
}

#blue li a {
    transition: all 1000ms ease;
}

#blue li a:hover {
    background: rgb(0, 182, 182);;
    transition: all 500ms ease;
    box-shadow: 0 0 30px 15px rgb(0, 182, 182);
}

#purple li a {
    transition: all 1000ms ease;
}

#purple li a:hover {
    background: rgb(147, 0, 206);;
    transition: all 500ms ease;
    box-shadow: 0 0 30px 15px rgb(147, 0, 206);
}

a {
    text-decoration: none;
}

.first-title {
    font-size: 30px;
    padding-left: 180px;
    padding-top: 60px;
}

.second-title {
    font-size: 20px;
    padding-left: 180px;
    padding-top: 10px;
}

.Circle {
    width: 0px;
    height: 0px;
    background-color: rgb(0, 75, 0);
    box-shadow: 0 0 250px 250px rgb(0, 122, 0);
    border-radius: 50%;
    position: absolute;
    left: 145%;
    top: 520px;
    transform: translateY(-550%);
    z-index: 1;
}

div.right-block img {
    height: 700px;
    position: absolute;
    left: 110%;
    top: 800px;
    transform: translateY(-110%);
    z-index: 2;
}

div a.btn {
    background: rgb(0, 70, 0);
    color: azure;
    font-size: 25px;
    padding: 25px 100px;
    border-radius: 60px;
    position: absolute;
    left: 25%;
    top: 375px;
    border: none;
    transition: all 500ms ease;
}

div a.btn:hover {
    background: rgb(0, 126, 0);
    transition: all 500ms ease;
    box-shadow: 0 0 30px 15px rgb(0, 126, 0);
}

/*form*/

#forhtml {
    overflow: hidden;
}

.container {
    width: 900px;
    height: 450px;
    margin: 50px auto;
    display: block;
    background-color: rgba(36, 7, 7, 0.5);
    border-radius: 15px;
    position: relative;
    top: 150px;
    overflow: hidden;
}

.container h2 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
    padding-top: 5px;
}

form {
    max-width:500px;
    margin: 0 auto;
}

form input,
form textarea {
    width: 100%;
    align-items: center;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 240, 230);
}

form textarea {
    height: 120px;
    resize: none;
}

button {
    background-color: brown;
    font-family: BBHHegarty;
    font-size: 20px;
    border: none;
    margin-top: 20px;
    padding: 15px 95px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 120px;
    transition: all 500ms ease;
}

button:hover{
    background-color: rgb(165, 1, 1);
    transition: all 500ms ease;
    box-shadow: 0 0 30px 15px rgb(165, 1, 1);
}

#dota1 {
    position: absolute;
    transform: rotate(35deg);
    right: 70dvw;
    top: 170px;
    
}

#dota2 {
    position: absolute;
    transform: rotate(35deg);
    left: 75dvw;
    top: 20px;
}

/*about me*/

.about-me {
    line-height: 30px;
    max-width: 90%;
    border-radius: 20px;
    border-style: none;
    font-size: 20px;
    left: 25px;
    padding-left: 100px;
    padding-right: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(120deg, #b10c00, rgba(0, 2, 0, 0) 80%);
    position: absolute;
    margin: 25px;
    top: 100px;
    right: 1px;
    z-index: -5;
}

.abt-me-other-device {
    display: none;
}

.myHobby {
    line-height: 30px;
    font-size: 20px;
    position: absolute;
    background: linear-gradient(120deg, #b10c00, rgba(0, 2, 0, 0) 60%);
    left: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 25px;
    margin-top: 28dvw;
    right: 873px;
    border-radius: 20px;
    z-index: -5;
}

.myHobby ul {
    list-style: none;

}


#myPhoto {
    position: absolute;
    right: 85px;
    margin: 25px;
    top: 100px;
    max-width: 20%;
    z-index: 1;
}

#myPhoto img {
    border-radius: 200px;
    transition: all 500ms ease;
    width: auto;
    height: 350px;
    
}

#myPhoto img:hover {
    border-radius: 15px;
    transition: all 500ms ease;
}

.sfchik {
    z-index: -6;
    position: absolute;
    right: -60px;
    top: 50%;
}

#bglight {
    position: absolute;
    border-radius: 50%;
    right: -50px;
    top: 100%;
    width: 50px;
    height: 50px;
    background-color: #b10c00;
    box-shadow: 0 0 350px 350px rgb(179, 36, 0);
    z-index: -6;

}

.social-networks {
    position: absolute;
    top: 85%;
    right: 40%;
}

.social-networks a img {
    width: 125px;
    height: 125px;
    padding: 25px;
}

#tt {
    width: 180px;
    height: auto;
}

/*gallery*/

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    margin-top: 90px;
}

.cnteGallery {
    display: flex;
    position: absolute;
    left: 20%;
    justify-content: center;
    width: 60%;
}

.gallery img {
    border-radius: 50px;
    height: 350px;
    width: auto;
    margin-bottom: 50px;
}

#scroll-top {
    background-color: rgba(0, 115, 187, 0);
    position: fixed;
    bottom: 100px;
    right: 130px;
    padding: 13px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    z-index: 6;
    transition: all 1000ms ease;
}

#scroll-top:hover {
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 50px 25px rgb(0, 37, 187);
    background-color: rgba(0, 37, 187, 0.815);
    transition: all 500ms ease;
}

.fa-arrow-up{
    position: fixed;
    right: 135px;
    bottom: 110px;
    color: rgb(16, 16, 16);
    font-size: 40px;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

#bg-gallery {
    background-color: rgb(0, 146, 204);
    position: fixed;
    height: 20px;
    width: 100%;
    top: 80%;
    box-shadow: 0 0 9950px 350px rgb(0, 146, 204);
    z-index: -99;

}

#morph1 {
    position: fixed;
    height:800px;
    width: auto;
    top: 100px;
    left: -190px;
    z-index: -1;
}

#morph2 {
    position: fixed;
    height:800px;
    width: auto;
    top: 100px;
    right: -190px;
    z-index: -1;
    transform: scaleX(-1);
}

#voda {
    position: fixed;
    width: 100%;
    height: auto;
    top: -30dvw;
    z-index: -2;
}

/*scheduale*/

#bg-for-void-spirit {
    position: fixed;
    left: 0px;
    top: 0px;
    background: rgb(136, 0, 177);
    width: 1px;
    height: 100%;
    box-shadow: 0 0 120vw 45vw rgba(136, 0, 177, 0.7),
                0 0 160vw 70vw rgba(136, 0, 177, 0.4);
    z-index: -99;
}

#void {
    position: absolute;
    transform: scaleX(-1);
    height: 800px;
    width: auto;
    top: 7vw;
    left: -7vw;
}

#myscheduale {
    position: relative;
    font-size: 18px;
    top: 7vw;
    left: 76.5vw;
    background: rgb(106, 0, 167);
    padding: 20px;
    padding-left: 50px;
    border-radius: 50vw;
    transition: all 1000ms ease;
}

#myscheduale:hover {
    left: 32vw;
    transition: all 1000ms ease;
}

#cldrFebruar {
    position: relative;
    top: 13vw;
    left: 80vw;
    background: rgb(106, 0, 167);
    padding: 20px;
    padding-left: 60px;
    border-radius: 50vw;
    transition: all 1000ms ease;
}

#cldrFebruar:hover {
    left: 40vw;
    transition: all 1000ms ease;
}

#holidays {
    position: absolute;
    left: 20vw;
    top: 3.5vw;
}

/*optimization for other device*/



@media screen and (max-width: 1400px) {
    .Logo {
        display: none;
    }

    .left-block {
        min-width: 500px;
    }

    .btn {
        position: fixed;
        margin-top: 20dvw;
    }

    /*ABOUT ME*/

    .about-me {
        display: none;
    }

    .myHobby {
        position: relative;
        margin: 10px;
        margin-top: 15dvw;
        top: -200px;
        min-width: 40dvw;
        line-height: 2dvw;
        padding: 30px;
        left: 25px;
    }

    #myPhoto img {
        position: absolute;
        right: -7dvw;
        width: 30dvw;
        height: auto;
    }

    .abt-me-other-device {
        display:inline-block;
        background: linear-gradient(120deg, #b10c00, rgba(0, 2, 0, 0) 80%);
        position: relative;
        border-radius: 20px;
        padding: 30px;
        margin: 10px;
        top: 15dvw;
        left: 25px;
    }

    /*FORM*/

    #dota1 {
        right: 60dvw;
    }

    #dota2 {
        left: 65dvw;
    }

    /*GALLERY*/

    #voda {
        position: fixed;
        top: -16dvw;
    }

    /*SCHEDUALE*/

    #myscheduale {
        font-size: 13px;
    }

    #myscheduale:hover {
        left: 25dvw;
    }

    #cldrFebruar {
        padding-left: 5dvw;
    }

    #cldrFebruar:hover {
        left: 34dvw;
    }

    #holidays {
    left: 34vw;
    }


}


@media screen and (max-width: 930px){
    .right-block img {
        display: none;
    }

    .Circle {
        max-width: 0px;
        max-height: 0px;
        z-index: -99;
    }

    .btn {
        max-height: 85px;
        white-space: nowrap;
        margin-top: 20dvw;
    }

    .left-block {
        margin-left: -10dvw;
    }

    /*ABOUT ME*/

    .myHobby {
        position: absolute;
        top: 7dvw;
        margin: 10px;
        margin-top: 15dvw;
        min-width: 40dvw;
        line-height: 3dvw;
        padding: 30px;
        left: 25px;
    }

    /*FORM*/

    #dota1 {
        right: 40dvw;
        top: -13dvw;
        z-index: -10;
    }

    #dota2 {
        top: 30dvw;
        left: 40dvw;
        z-index: -10;
    }

    /*GALLERY*/

    #voda {
        top: 5dvw;
    }

    /*SCHEDUALE*/

    #void {
        left: -30dvw;
    }

    #myscheduale {
        top: 20dvw;
        font-size: 12px;
    }

    #myscheduale:hover {
        left: 9dvw;
    }

    #cldrFebruar {
        left: 57dvw;
        padding-left: 10dvw;
        top: 30dvw;
    }

    #cldrFebruar:hover {
        left: 15dvw;
    }

    #holidays {
        
        left: 45dvw;
    }




}



@media screen and (max-width: 1800px) {
    .myHobby {
        margin-top: 38dvw;
    }
}
