* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: BBHHegarty;
    src: url(../font/BBHHegarty-Regular.ttf);
}

body {
    background: rgb(0, 2, 0);
    color: azure;
}
section {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    position: relative;
}

nav {
    background: none;
    width: 100%;
    height: 70px;
}

nav ul {
    list-style: none; /* прибирає маркер списку*/
}

header.Logo {
    font-family: BBHHegarty;
    display: flex;
    text-transform: uppercase;
}

.Logo {
    display: flex;
    padding-left: 25px;
    padding-top: 40px;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
}

header nav {
    float: right;
    margin-right: 25%;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 30px;
}

header nav ul li a {
    color: azure;
    font-size: 20px;
    display: block;
    position: relative;
    text-align: center;
    padding-top: 11px;
    background: 0;
    border-radius: 30px 30px;
    width: 180px;
    height: 50px;
    font-family: BBHHegarty;
    z-index: 10;
    border: none;
    transition: all 1000ms ease;
}

header nav ul li a:hover {
    background: rgb(0, 80, 0);
    transition: all 500ms ease;
    box-shadow: 0 0 30px 15px rgb(0, 80, 0);
}

.fa-solid {   /*значки біля навігації*/
    margin-left: 7px;
}

.schdle {
    width: 200px;
}

.glr {
    width: 150px;
}

.abt-me {
    width: 170px;
}

#red li a {
    transition: all 1000ms ease;
}

#red li a:hover {
    background: brown;
    transition: all 500ms ease;
    box-shadow: 0 0 30px 15px brown;
}

#blue li a {
    transition: all 1000ms ease;
}

#blue li a:hover {
    background: rgb(0, 182, 182);;
    transition: all 500ms ease;
    box-shadow: 0 0 30px 15px rgb(0, 182, 182);
}

#purple li a {
    transition: all 1000ms ease;
}

#purple li a:hover {
    background: rgb(147, 0, 206);;
    transition: all 500ms ease;
    box-shadow: 0 0 30px 15px rgb(147, 0, 206);
}

a {
    text-decoration: none;
}

.first-title {
    font-size: 30px;
    padding-left: 180px;
    padding-top: 60px;
}

.second-title {
    font-size: 20px;
    padding-left: 180px;
    padding-top: 10px;
}

.Circle {
    width: 50px;
    height: 50px;
    background-color: rgb(0, 75, 0);
    box-shadow: 0 0 250px 250px rgb(0, 122, 0);
    border-radius: 50%;
    position: absolute;
    left: 145%;
    top: 730px;
    transform: translateY(-550%);
    z-index: 1;
}

div.right-block img {
    height: 700px;
    position: absolute;
    left: 110%;
    top: 800px;
    transform: translateY(-110%);
    z-index: 2;
}

div a.btn {
    background: rgb(0, 70, 0);
    color: azure;
    font-size: 25px;
    padding: 25px 100px;
    border-radius: 60px;
    position: absolute;
    left: 25%;
    top: 375px;
    border: none;
    transition: all 500ms ease;
}

div a.btn:hover {
    background: rgb(0, 126, 0);
    transition: all 500ms ease;
    box-shadow: 0 0 30px 15px rgb(0, 126, 0);
}

/*form*/

#forhtml {
    overflow: hidden;
}

.container {
    width: 900px;
    height: 450px;
    margin: 50px auto;
    display: block;
    background-color: rgba(36, 7, 7, 0.5);
    border-radius: 15px;
    position: relative;
    top: 150px;
    overflow: hidden;
}

.container h2 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
    padding-top: 5px;
}

form {
    max-width:500px;
    margin: 0 auto;
}

form input,
form textarea {
    width: 100%;
    align-items: center;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 240, 230);
}

form textarea {
    height: 120px;
    resize: none;
}

button {
    background-color: brown;
    font-family: BBHHegarty;
    font-size: 20px;
    border: none;
    margin-top: 20px;
    padding: 15px 95px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 120px;
    transition: all 500ms ease;
}

button:hover{
    background-color: rgb(165, 1, 1);
    transition: all 500ms ease;
    box-shadow: 0 0 30px 15px rgb(165, 1, 1);
}

#dota1 {
    position: absolute;
    transform: rotate(35deg);
    right: 1400px;
    top: 170px;
    
}

#dota2 {
    position: absolute;
    transform: rotate(35deg);
    left: 1400px;
    top: 20px;
}

/*about me*/

.about-me {
    line-height: 30px;
    max-width: 70%;
    border-radius: 20px;
    border-style: none;
    font-size: 20px;
    left: 25px;
    padding-left: 100px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(120deg, #b10c00, rgba(0, 2, 0, 0) 80%);
    position: absolute;
    margin: 25px;
    top: 100px;
    right: 1px;
    z-index: -5;
}

.myHobby {
    line-height: 30px;
    font-size: 20px;
    position: absolute;
    background: linear-gradient(120deg, #b10c00, rgba(0, 2, 0, 0) 60%);
    left: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 25px;
    margin-top: 30%;
    right: 873px;
    border-radius: 20px;
    z-index: -5;
}

.myHobby ul {
    list-style: none;

}

#myPhoto {
    position: absolute;
    right: 85px;
    margin: 25px;
    top: 100px;
    max-width: 20%;
    z-index: 1;
}

#myPhoto img {
    border-radius: 200px;
    transition: all 500ms ease;
    width: auto;
    height: 350px;
    
}

#myPhoto img:hover {
    border-radius: 15px;
    transition: all 500ms ease;
}

.sfchik {
    z-index: -6;
    position: absolute;
    right: -60px;
    top: 50%;
}

#bglight {
    position: absolute;
    border-radius: 50%;
    right: -50px;
    top: 100%;
    width: 50px;
    height: 50px;
    background-color: #b10c00;
    box-shadow: 0 0 350px 350px rgb(179, 36, 0);
    z-index: -6;

}

.social-networks {
    position: absolute;
    top: 85%;
    right: 40%;
}

.social-networks a img {
    width: 125px;
    height: 125px;
    padding: 25px;
}

#tt {
    width: 180px;
    height: auto;
}

/*gallery*/

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    margin-top: 90px;
}

.cnteGallery {
    display: flex;
    position: absolute;
    left: 20%;
    justify-content: center;
    width: 60%;
}

.gallery img {
    border-radius: 50px;
    height: 350px;
    width: auto;
    margin-bottom: 50px;
    z-index: 2;
}

#bg-gallery {
    position: absolute;
    height: 20px;
    width: 100%;
    top: 80%;
    box-shadow: 0 0 9950px 350px rgb(0, 146, 204);
    z-index: -99;

}

#morph1 {
    position: absolute;
    height:800px;
    width: auto;
    top: 100px;
    left: -190px;
    z-index: -1;
}

#morph2 {
    position: absolute;
    height:800px;
    width: auto;
    top: 100px;
    right: -190px;
    z-index: -1;
    transform: scaleX(-1);
}

#voda {
    position: absolute;
    width: 100%;
    top: -650px;
    z-index: -2;
}
